# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS
.DS_Store

# Python environment files
pip-log.txt
pip-delete-this-directory.txt

# Test and coverage outputs
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json

# PyCharm
.idea/

# Local env files
.env
.env.*

# Logs
*.log

# Misc
*.swp
*.swo

# System files
Thumbs.db

# Other files
data
chroma_db